<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Filetransfer</title>
        <script src="/static/qrcode.js"></script>
        <link rel="stylesheet" href="/static/all.min.css" />
        <link rel="stylesheet" href="/static/pico.min.css">
        <link rel="stylesheet" href="/static/file.css" />
    </head>
    <body> 
        <nav>
            <ul>

            </ul>
            <ul>
                <li><a href="/"><strong>Filetransfer</strong></a></li>
            </ul>
            <ul>

            </ul>
        </nav>
        <main class="container">
            joiafjaöoi
        </main>
        <footer>
            <div class="grid" style="text-align: center;">
                <div><a href='/about'>About</a></div>
                <div><i class="fa-solid fa-code"></i> by <a href="https://github.com/Drachenfrucht1" >Drachenfrucht1</a> with <i class="fa-solid fa-heart"></i></div>
                <div>Impressum</div>
            </div>
        </footer>
    </body>
</html>